.background1 {
  background-color: var(--theme-color-2);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.background2 {
  background-color: var(--theme-color-7);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.background3 {
  padding: 2rem;
  margin-bottom: calc(var(--margin-b) + 5rem);
  margin-top: calc(var(--margin-b) + 5rem);
  background-color: var(--theme-color-2);
  border-radius: 20px;
}

.section1 {
  margin: 0px;
  padding: 0px;
  margin-top: calc(var(--margin-b) + 5rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.section3 {
  padding: 0px;
  margin: 0px;
  margin-top: calc(var(--margin-b) + 3rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.sectionCollab {
  margin-top: calc(var(--margin-b) + 5rem);
}

.dsList {
  list-style-type: disc;
}

.dsListItem {
  text-align: left;
}
