.lBackground1 {
  position: relative;
}

.lBackground1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: var(--theme-color-3);
  transform: skewY(-5deg);
  z-index: -1;
}

.rBackground1 {
  position: relative;
}

.rBackground1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: var(--theme-color-2);
  transform: skewY(5deg);
  z-index: -1;
}

.Background2 {
  background-color: var(--theme-color-5);
  width: 100%;
  padding-bottom: 1rem;
  border-radius: 20px;
}

.background3 {
  margin-bottom: calc(var(--margin-b) + 5rem);
  margin-top: calc(var(--margin-b) + 5rem);
}

.lBackground3 {
  position: relative;
}

.lBackground3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: var(--theme-color-3);
  transform: skewY(-5deg);
  z-index: -1;
}

.rBackground3 {
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.rBackground3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: var(--theme-color-2);
  transform: skewY(5deg);
  z-index: -1;
}

.section1 {
  margin-top: calc(var(--margin-b) + 5rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.section3 {
  margin-top: calc(var(--margin-b) + 3rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.sectionCollab {
  margin-top: calc(var(--margin-b) + 5rem);
}

.dsList {
  list-style-type: disc;
}

.dsListItem {
  text-align: left;
}
