.navLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  grid-column: span 2;
}

.navList {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-top: 2rem;
  text-decoration: none;
  align-items: center;
  list-style-type: none;
  flex-grow: 0;
  text-align: center;
  padding: 0;
  min-width: 98%;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .navLinks {
    gap: 0;
    max-width: 80rem;
    justify-content: start;
  }

  .navList {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
  }
}

.navLinks {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1rem;
}

.link {
  color: var(--base-color);
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  margin-bottom: 10rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.link:hover {
  background-color: var(--theme-color-3);
}

@media (min-width: 768px) {
  .link {
    margin: 0;
    padding: 10px 3vw;
  }
}

.connectButton {
  background-color: var(--theme-color-2);
  color: #000000;
  text-shadow: none;
  font-weight: 800;
  white-space: nowrap;
}

.connectButton:hover {
  color: #ffffff;
}
