.tps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.tpsDiv {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media (max-width: 1297px) {
  .tpsDiv {
    transform: scale(0.7);
  }

  .tps {
    max-width: 900px;
  }
}

@media (max-width: 920px) {
  .tpsDiv {
    transform: scale(0.5);
  }

  .tps {
    max-width: 700px;
  }
}
