.main {
  margin: 10px;
  max-width: 100vw;
}

.main section {
  padding-bottom: 5rem;
}
/* 
@media (max-width: 415px) {
  .main {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
} */
