h1 {
  color: brown;
}

.bullyAnalysis {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullyContainer {
  display: flex;
  margin-top: calc(var(--margin-b) + 2rem);
  margin-bottom: calc(var(--margin-b) + 2rem);
  background-color: var(--theme-color-2);
  border-radius: 20px;
}

.getInTouch {
  margin-bottom: 2rem;
}

.githubContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: calc(var(--margin-b) + 2rem);
  margin-bottom: calc(var(--margin-b) + 2rem);
}

.gitLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableauContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-5);
  margin-bottom: calc(var(--margin-b) + 2rem);
  padding-top: 2rem;
  border-radius: 20px;
}

.tableauLogo {
  align-items: center;
  margin: 1em;
}

.youtubeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.youtubeVideo {
  height: 315px;
  width: 560px;
}
