.contactForm {
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 0.3em 1.25em;
}

.formLabel {
  color: #456268;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  padding: 0.625em 1.25em;
  margin: 1em 0;
  border: 1px solid #007bff;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 9.375rem;
  height: 2.5rem;
  align-self: flex-start;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:focus {
  outline: none;
  box-shadow: 0 0 0.3125em #007bff; /* Equivalent to 5px, adjust as needed */
}
