.contactFormContainer {
  justify-content: center;
}

.contactFormContainer h1 {
  margin-bottom: 3rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contactMessageDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactMessage {
  flex-grow: 1;
}

.formLabel {
  color: #000000;
  font-size: 1.5rem;
}

.small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  padding-bottom: 1em;
}

.smallItem {
  width: 30rem;
}

.socialMediaConnections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialMediaConnection {
  margin-right: 0.5rem;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-2);
  color: #fff;
  padding: 1em;
  margin: 1em;
  border: 1px solid var(--theme-color-2);
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 9.375rem;
  height: 2.5rem;
}

.submitButton:hover {
  background-color: var(--theme-color-3);
}

.soci .submitButton:focus {
  outline: none;
  box-shadow: 0 0 0.3125em #007bff;
}

.buttonDiv {
  justify-content: center;
}

@media (max-width: 700px) {
  .contactMessage {
    width: 50rem;
    justify-content: center;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .smallItem {
    width: 25rem;
  }
}

@media (max-width: 550px) {
  .smallItem {
    width: 15rem;
  }

  .contactMessage {
    width: 35rem;
  }
}
