.socialMediaContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  background-color: var(--theme-color-2);
  width: fit-content;
  border-radius: 10px;
  margin: 10px;
}

@media (min-width: 992px) {
  .socialMediaContainer {
    flex-direction: row;
  }
}

.socialMediaItem {
  flex: 0 0 auto;
  margin: 5px;
}
