.section {
  display: flex;
  margin-top: 3rem;
  margin-bottom: var(--margin-b);
}

.pic {
  max-width: 20rem;
  object-fit: scale-down;
  margin-right: 2rem;
}

@media (max-width: 480px) {
  .section {
    flex-direction: column;
  }
  .pic {
    margin-right: 0;
  }
}
