.githubContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 20px;
  background-color: var(--theme-color-2);
}

.githubContainer h2 {
  grid-column: 1/7;
  grid-row: 1/2;
}

.githubContainer p {
  grid-column: 1/6;
  grid-row: 2/4;
}

.gitLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 6/7;
  grid-row: 1/4;
}
