section {
  padding: 1em;
}

.about1 {
  display: flex;
  margin-top: 10rem;
}

.about3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 1fr;
}

.about3p {
  grid-column: 1/5;
  grid-row: 2/3;
}

.about3img {
  grid-column: 5/6;
  grid-row: 2/3;
}

.about3h2 {
  grid-row: 1/2;
  grid-column: 1/6;
}

.about5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutLake {
  object-fit: cover;
  width: 15em;
  height: 10em;
}

.aboutLakeContainer {
  width: 15em;
  height: 10em;
  margin-right: 5px;
}

.Background1 {
  position: relative;
  margin-top: calc(var(--margin-b) + 5rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.Background1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-2);
  transform: skewX(-20deg);
  z-index: -1;
}

.Background2 {
  background-color: var(--theme-color-7);
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 20px;
}

.Background3 {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.Background3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-2);
  transform: skewX(20deg);
  z-index: -1;
}

.pics {
  margin-top: 2em;
}

.pic2 {
  height: 10em;
  margin-left: 5px;
}

.pic7 {
  height: 10em;
  width: 8em;
  object-fit: cover;
  margin-right: 5px;
}
