section {
  padding: 1em;
}

.about1 {
  display: flex;
}

.about3 {
  display: flex;
}

.about5 {
  display: flex;
}

.aboutLake {
  object-fit: cover;
  width: 15em;
  height: 10em;
}

.aboutLakeContainer {
  width: 15em;
  height: 10em;
  margin-right: 5px;
}

.Background1 {
  position: relative;
  margin-top: calc(var(--margin-b) + 5rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.Background1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-3);
  transform: skewX(-20deg);
  z-index: -1;
}

.Background2 {
  background-color: var(--theme-color-2);
  margin-top: calc(var(--margin-b) + 5rem);
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.Background3 {
  position: relative;
  margin-top: calc(var(--margin-b));
  margin-bottom: calc(var(--margin-b) + 5rem);
}

.Background3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-3);
  transform: skewX(20deg);
  z-index: -1;
}

.pics {
  margin-top: 2em;
}

.pic2 {
  height: 10em;
  margin-left: 5px;
}

.pic7 {
  height: 10em;
  width: 8em;
  object-fit: cover;
  margin-right: 5px;
}
