p {
  color: #456268;
  font-size: 20px;
  line-height: 1.6rem;
  margin: 0;
}

h1 {
  color: #79a3b1;
  padding: 0.6em;
}

.shining {
  padding: 2em;
}

.guided {
  padding: 2em;
}

.bridge {
  padding: 2em;
}

.empower {
  padding: 2em;
}

.difference {
  padding: 2em;
}

.collaborate {
  padding: 2em;
}

.forgeAhead {
  padding: 2em;
}
