p {
  color: var(--base-color);
  font-size: 20px;
  line-height: 1.6rem;
  margin: 0;
}

h1 {
  color: var(--base-color);
  font-size: 2rem;
  padding: 0.6em;
}

.collaborate {
  padding: 0px;
  margin: 0px;
  margin-bottom: var(--margin-b);
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.empower {
  padding: 0px;
  margin: 0px;
  margin-bottom: var(--margin-b);
}

.guided {
  margin-bottom: var(--margin-b);
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.background1 {
  background-color: var(--theme-color-7);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.background2 {
  background-color: var(--theme-color-2);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.background3 {
  background-color: var(--theme-color-7);
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.bridge {
  padding: 2em;
}

.difference {
  padding: 2em;
}

.forgeAhead {
  padding: 2em;
}

.landing {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.dataIconsContainer {
  grid-row: 2/3;
  grid-column: 1/2;
}

.landing h1 {
  grid-row: 1/2;
  grid-column: 1/7;
}

.landing p {
  grid-row: 2/3;
  grid-column: 2/7;
  align-self: center;
}

@media (max-width: 800px) {
  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.shining {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/charts/lineChart1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 64.2857%;
}

.shiningText {
  text-align: center;
}
