p {
  color: var(--base-color);
  font-size: 20px;
  line-height: 1.6rem;
  margin: 0;
}

h1 {
  color: var(--base-color);
  padding: 0.6em;
}

.shining {
  padding: 2em;
}

.tiltedBackground {
  position: relative;
}

.tiltedBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: var(--theme-color-3);
  transform: skewY(-5deg);
  z-index: -1;
}

.tiltedBackground2 {
  background-color: var(--theme-color-2);
}

.tiltedBackground3 {
  position: relative;
}

.tiltedBackground3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: var(--theme-color-3);
  transform: skewY(5deg);
  z-index: -1;
}

.guided {
  padding: 2em;
}

.bridge {
  padding: 2em;
}

.empower {
  padding: 2em;
}

.difference {
  padding: 2em;
}

.collaborate {
  padding: 2em;
}

.forgeAhead {
  padding: 2em;
}
