.footContainer {
  display: flex;
  background: var(--header-footer);
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.footContent {
  margin: 1em;
  float: right;
}

/* @media (max-width: 815px) {
  .footContainer {
    height: 15em;
  }
} */
