.footNavList {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
}

.navTag {
  justify-content: left;
  justify-self: right;
}

/* @media (max-width: 600px) {
  .navList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 415px) {
  .navList {
    grid-template-columns: repeat(2, 1fr);
  }
} */
