.headContainer {
  background: var(--header-footer);
  color: #a0c0ca;
  width: auto;
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 2em;
}

.content {
  display: flex;
  margin: 0;
  padding: 0;
}

.selectable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.banner {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  padding: 0;
}
