.headContainer {
  background: var(--header-footer);
  color: #a0c0ca;
  width: 100%;
  flex-grow: 1;
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.logo {
  margin: 2em;
}

.content {
  display: flex;
  margin: 0;
  padding: 0;
}

.selectable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  padding: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredText {
  position: absolute;
  padding: 0;
  text-align: center;

  width: 100%;
}

.centeredText h1 {
  color: var(--base-color);
  -webkit-text-stroke: 2px #000000;
  font-size: 4.5rem;
  padding: 0px;
}

.centeredText h2 {
  color: var(--base-color);
  -webkit-text-stroke: 1px #000000;
  font-size: 2.5rem;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 480px) {
  .banner {
    padding-top: 0;
  }

  .centeredText {
    top: 2rem;
  }

  .headContainer {
    padding-bottom: 11rem;
  }

  .logo {
    margin-top: 3rem;
    margin-left: 15rem;
  }
}
