.main {
  background: #fcf8ec;
  color: #79a3b1;
  width: 100%;
  height: 17.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  flex: 1;
  padding-right: 15%;
}

.content {
  flex: 3;
  flex-grow: 1;
  display: flex;
  margin: 0;
  padding: 0;
}

.selectable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.banner {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  padding: 0;
  margin: auto 0 0 0;
}
