.navLinks {
  display: flex;
  flex-grow: 1;
}

.navList {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: max-content;
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
}

.navLinks {
  margin: 1em;
}

.link {
  font-size: 2rem;
  color: var(--base-color);
  text-decoration: none;
  font-weight: 600;
}

.linkContainer {
  flex: 1;
  white-space: nowrap;
  cursor: default;
}

ul {
  list-style-type: none;
  padding: 0px;
}

@media (max-width: 480px) {
  .navList {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    margin-left: 0;
    align-items: flex-start;
  }
}
