.navLinks {
  display: flex;
  flex-grow: 1;
}

.navList {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: max-content;
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
}

.navLinks {
  margin: 1em;
}

.link {
  color: var(--base-color);
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  background-color: var(--theme-color-1);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.link:hover {
  background-color: var(--theme-color-3);
}

ul {
  list-style-type: none;
  padding: 0px;
}

.connectButton {
  background-color: var(--theme-color-4);
}

@media (max-width: 700px) {
  .navList {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: flex-start;
    width: 5rem;
    flex-grow: 0;
  }

  .navLinks {
    margin: 0;
    width: 10rem;
    flex-grow: 1;
  }
}
