p {
  color: var(--base-color);
  font-size: 20px;
  line-height: 1.6rem;
  margin: 0;
}

h1 {
  color: var(--base-color);
  font-size: 2rem;
  padding: 0.6em;
}

.homeDiv section {
  padding-left: 5rem;
  padding-right: 5rem;
}

.collaborate {
  padding: 0px;
  margin: 0px;
  margin-bottom: var(--margin-b);
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.empower {
  padding: 0px;
  margin: 0px;
  margin-bottom: var(--margin-b);
}

.guided {
  margin: 0;
  margin-bottom: 15rem;
  background-color: var(--theme-color-7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.bg1Pic {
  align-self: center;
  justify-self: center;
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.bg1P {
  margin-bottom: 2rem;
}

.bg1H1 {
  margin-bottom: 2rem;
}

.background2 {
  background-color: var(--theme-color-2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.background2 h2 {
  margin: 0;
  margin-bottom: 2rem;
}

.background2P {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.chartsContainer {
  align-self: center;
  justify-self: center;
  margin-bottom: 5rem;
}

.background3 {
  background-color: var(--theme-color-7);
  border-radius: 20px;
}

.bridge {
  padding: 2em;
}

.difference {
  padding: 2em;
}

.forgeAhead {
  padding: 2em;
}

.landing {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10rem;
}

.dataIconsContainer {
  grid-row: 2/3;
  grid-column: 1/2;
}

.dataIconsContainer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.landing h1 {
  padding: 0;
  padding-bottom: 1rem;
  align-self: center;
}

.landingContent {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.landingContent p {
  font-weight: 600;
}

.landingContent h2 {
  align-self: flex-start;
}

.landingList {
  display: flex;
  flex-direction: column;
}

.landingList li {
  align-self: flex-start;
  text-align: left;
}

.tableauPlaceholder {
  position: relative;
}

.tableauViz {
  display: none;
}

.tableauImg {
  border: none;
}

/* @media (max-width: 815px) {
  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .background1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg1P {
    margin-bottom: 2rem;
  }

  .background2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }

  .background2 p {
    margin-bottom: 1rem;
  }

  .guided {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */

.shining {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/charts/lineChart1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 64.2857%;
}

.shiningText {
  text-align: center;
}

.differenceDiv {
  background: var(--theme-color-7);
  border-radius: 20px;
  margin-top: 10rem;
  padding-top: 5rem;
  margin-bottom: 10rem;
}
