.githubContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 20px;
  background-color: var(--theme-color-7);
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.gitLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
