.tableauContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color-7);
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
  border-radius: 20px;
}

/* @media (max-width: 1297px) {
  .tableauContainer {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 1297px) {
    .tableauContainer {
      padding-left: 0;
      padding-right: 0;
    }
  }
} */
