.thisWebsiteContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--theme-color-7);
  border-radius: 20px;
}

.reactLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
