.socialMediaContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding: 0.5rem;
  background-color: var(--background-color);
  width: fit-content;
}

.socialMediaItem {
  flex: 0 0 auto;
  margin: 5px;
}

@media (max-width: 768px) {
  .socialMediaContainer {
    flex-direction: column;
  }
}
