.footLink {
  color: var(--base-color);
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  background-color: var(--theme-color-4);
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s ease;
  margin: 0.5em;
}

.footLink:hover {
  background-color: var(--theme-color-3);
}
