.footContainer {
  display: flex;

  background: var(--header-footer);
  height: 8em;
  align-items: center;
  justify-content: space-between;
}

.footContent {
  margin: 1em;
  float: right;
}

@media (max-width: 768px) {
  .footContainer {
    height: 15em;
  }
}
