.footContainer {
  display: flex;

  background: var(--header-footer);
  height: 8em;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footContent {
  margin: 1em;
  float: right;
}

@media (max-width: 768px) {
  .footContainer {
    height: 15em;
  }
}
