:root {
  --base-font-size-desktop: 16px;
  --base-font-size-mobile: 12px;
  --background-color: #19270d;
  --header-footer: var(--theme-color-2);
  --alternate-color-1: #2680ca;
  --base-color: #d1edd2;
  --theme-color-1: #85680a;
  --theme-color-2: #164d20;
  --theme-color-3: #3a2f08;
  font-size: var(--base-font-size);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--base-color);
  background: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Mobile Styles */
@media (max-width: 767px) {
  :root {
    --base-font-size: var(--base-font-size-mobile);
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  :root {
    --base-font-size: var(--base-font-size-desktop);
  }
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

h1 {
  line-height: 1.1;
}
