:root {
  --base-font-size-desktop: 16px;
  --base-font-size-mobile: 10px;
  /* --background-color: #ffffff; */
  --header-footer: var(--theme-color-5);
  --base-color: #000000;
  --theme-color-5: #218fc2;
  --theme-color-8: skyblue;
  --theme-color-1: #8ecae6;
  --theme-color-3: #000000;
  --theme-color-4: #023047;
  --theme-color-2: #ffb703;
  --theme-color-6: #fb8500;
  --theme-color-7: #95a2b9;
  font-size: var(--base-font-size-mobile);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--base-color);
  background: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  font-size: var(--base-font-size-mobile);
}

p {
  line-height: 1.15;
  font-size: 1.5rem;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

h1 {
  line-height: 1.1;
  font-size: 4rem;
  color: var(--theme-color-4);
}

h2 {
  font-size: 2.5rem;
  color: var(--theme-color-4);
}

h3 {
  font-size: 1.5rem;
  color: var(--theme-color-4);
}

li {
  font-size: 1.5rem;
  line-height: 1.15;
}

@media (min-width: 768px) {
  :root {
    font-size: var(--base-font-size-desktop);
    width: 100%;
  }

  ul {
    font-size: var(--base-font-size-desktop);
  }

  h1 {
    line-height: 1.1;
    font-size: 4rem;
    color: var(--theme-color-4);
  }
}
