:root {
  --base-font-size-desktop: 16px;
  --base-font-size-mobile: 10px;
  --background-color: var(--theme-color-1);
  --header-footer: var(--theme-color-5);
  --base-color: #000000;
  --theme-color-1: #26a9ca;
  --theme-color-2: #0b8985;
  --theme-color-3: #000000;
  --theme-color-4: #000088;
  --theme-color-5: #dddddd;
  --theme-color-6: #85680a;
  --margin-b: 6rem;
  font-size: var(--base-font-size-desktop);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--base-color);
  background: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: var(--base-font-size-mobile);
    width: 100%;
  }
}

p {
  line-height: 1.15;
  font-size: 1.5rem;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

h1 {
  line-height: 1.1;
  font-size: 3rem;
}
